/* styles.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.top-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 360px;
  height: 50px;
  section {
  transform: perspective(1000px) rotateX(calc(var(--mouseY) * 10deg)) rotateY(calc(var(--mouseX) * 10deg));
  transition: transform 0.1s;
}

}

.nav-links a {
  color: #363636;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  position: relative;
}

.nav-links a:hover {
  color: #f1f1f1;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #333;
  color: white;
}

@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
  }
  .nav-links a {
    margin: 5px 0;
  }
}
